@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF8F3;
  color: #2C2C2C;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
